.title {
  max-width: unset;
  font-size: 3rem;
  margin-block-start: .6em;
  font-weight: 500;
}

.slogan {
  max-width: unset;
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--ion-color-step-500);
}


.mainGrid {
  padding: var(--ion-padding);
  min-height: 100vh;
  margin-bottom: 8rem;
}


.featuredProjectsGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-left: -1rem;
  margin-right: -1rem;
}

.projectCardContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.carousel {
  height: 350px;
}

.searchbar {
  margin-bottom: 1.5rem;
  padding: 0;
}


/* sm and up */
@media screen and (min-width: 576px) {

  .carousel {
    display: block;
    height: 400px;
    max-width: 508px;
  }
}

.subheading {
  font-weight: 400;
}

/* md and up */
@media screen and (min-width: 768px) {
  .container {
    width: 100%;
    position: relative;
    height: 680px;
    min-height: 100vh;
  }

  .bannerContainer {
    position: absolute;
    z-index: 0;
  }

  .featuredProjectsContainer {
    position: absolute;
    right: 0;
    left: 0;
    top: 400px;
    z-index: 1;
    display: flex;
  }

  .projectCardContainer {
    max-width: 295px;
    display: flex;
  }

  .searchbar {
    padding-right: 2rem;
  }

  .subheading {
    position: absolute;
    bottom: 56px;
  }

  .carousel {
    display: block;
    margin-top: 50px;
    height: 400px;
    max-width: 344px;
  }
}

/* lg and up */
@media screen and (min-width: 992px) {

  .featuredProjectsContainer {
    top: 480px;
  }

  .title {
    font-size: 4rem;
  }

  .slogan {
    font-size: 2rem
  }


  .carousel {
    display: block;
    margin-top: 50px;
    height: 500px;
    max-width: 450px;
  }
  .subheading {
    position: absolute;
    bottom: 70px;
  }
}

/* xl and up */
@media screen and (min-width: 1200px) {
  .carousel {
    display: block;
    margin-top: 50px;
    height: 500px;
    max-width: 600px;
  }
}


@media screen and (min-width: 1460px) {
}