.banner {
    background-color: var(--ion-color-primary);
    color: var(--ion-color-light);
    padding: 0;
    position: relative;
}

.bannerImageContainer {
    overflow: hidden;
    background-color: #875053;
}

.bannerImage {
    height: 150px;
    object-fit: cover;
    object-position: 100% 100%;
}

.bannerTitle {
    position: absolute;
    display: none;
    width:100%;
    max-width: 100rem;

    left: 2rem;
    bottom: 1rem;
}

.bannerTitle h1,
.bannerTitle h2 {
    font-weight: 500;
    margin: 0;
    color: #ddd;
    max-width: 150rem;
}

.bannerTitle h2{
    font-size: 1.5;
}

/* sm and up */
@media screen and (min-width: 576px) {
    .bannerImage {
        height: 130px;
        object-position: 100% 100%;
    }

}

/* md and up */
@media screen and (min-width: 768px) {
    .bannerImage {
        height: 220px;
    }
}

/* lg and up */
@media screen and (min-width: 992px) {
    .bannerImage {
        height: 260px;
    }
    .bannerTitle {
        display: block;
        font-size: 1rem;
    }
}

/* xl and up */
@media screen and (min-width: 1200px) {
    .bannerImage {
        height: 500px;
    }
    .bannerTitle {
        display: block;
        font-size: 1.5rem;
    }
}
